:root {
    --primary: #ffa000;
    --p-light: #ffd149;
    --p-dark: #c67100;
    --s-text: #000000;
    --secondary: #ffc107;
    --s-light: #fff350;
    --s-dark: #c79100;
    --p-text: #ffffff;
    --dgray: #c7c7c7;
    --gray: #e1e2e1;
    --lgray: #262626;
    --navfont: #AEAEAE;
    --navfontdrop: #919191;
    --background: #303030;
    --scrolltrack: #303030;
    --scrollthumb: #1C1C1C;
}